*{
	font-family: 'Merriweather Sans', sans-serif;
}
body{
	margin: 0;
}
.main23{
	background-color: #D1E8FF;
	height: 750px;
}
a{
	text-decoration: none;
	color: #0E0E0E;
}

.sb{
	display: flex;
	width: 100%;
}
.head{
	display: flex;
}
.head img{
	height: 8vh;
}
li{
	display: inline;
}
li{
	float: left;
}
li a{
	display: block;
	padding: 39px 29px;
}
#l{
	flex:1;
	font-size: 36px;
	font-family: 'Lexend Giga', sans-serif;
	display: flex;
	justify-content: center;
}
#c{
	flex: 1;
	display: flex;
}
#r{
	flex: 1;
	display: flex;
	justify-content: center;
}
.startbox{
  background-color: white; 
  border: none;
  color: black;
  padding: 12px 13px;
  text-align: center;
  font-size: 16px;
  margin: 27px auto;
}

.pow{
	display: flex;
	margin: 10px auto;
	flex-wrap: wrap;
	width: 43%;
	font-size: 60px;
	font-weight: 700;
	text-align: center;
}
.smallt1{
	font-size: 18px;
	font-weight: 412;
}
.upbutton{
  display: flex;
  justify-content: center;
  margin: 25px auto;
}
.upstart{	
  background-color: #5b45e0;	
  border: none;
  color: white;
  padding: 24px 42px;
  text-align: center;
  font-size: 16px;
  border-radius: 8px 8px;
  margin: 12px;
}
.upview{
  background-color: white; 
  border: none;
  color:#5b45e0;
  padding: 24px 42px;
  text-align: center;
  font-size: 16px;
  border-radius: 8px 8px;
  margin: 12px;
}
.white{
	border: 2px solid white;
	position: relative;
	background-color: white;
	border-radius: 79px 79px;
	top: 52px;
}

.whmain{
	padding: 125px 0px;
}
.topfe{
	display: flex;
	flex-wrap: wrap;
	width: 58%;
	margin: -11px auto;
}
.M{
	margin: 0px auto;
	width: 58%

}
.main1{
	display: flex;
}
.our{
	margin: -24px auto;
	display: flex;
	justify-content: center;
	font-size:46px;
}
.r2{
	font-size: 18px;
	font-weight: 500;

}
.we{
	display: flex;flex: 1;
	justify-content: center;
}
.up1 img{
	height: 16vh;
	margin: -5px -17px;
}
.up2 img{
	height: 16vh;
	margin: -5px -17px;
}
.fmain a{
	color:#5b45e0;
}
.up1{
	display: flex;
	margin: 2px auto;	
}
.up2{
	display: flex;
	margin: 44px auto;
}
.itup1,.itup3{
	display: flex;
	flex: 1.7;
}
.itup2,.itup4{
	display: flex;
	flex: 1.8;
}
.to{
	font-size:30px; 
	justify-content: space-around;
}
.st{
	font-size:30px; 
}
.hr2,.hr1{
	border:1px solid black;
	background-color: black;
	width: 5%;
	opacity: 0.2;
	margin: 8px;
}

.hr3{
	border:1px solid black;
	background-color: black; 
	width: 74%;
	opacity: 0.1;
	margin: 0px auto
}
.zl{
	border:1px solid black;
	background-color: black; 
	width: 100%;
	opacity: 0.1;
	margin: 0px auto;
}
.more{
	display: flex;
	flex-wrap: wrap;
	width: 71%;
	margin: 55px auto;
}
.Ma{
	margin: 0px auto;
	width: 70%;
}
.mow{
	display: flex;
	flex-direction: column;
	margin: 0px auto;
}
.main2 img{
	height: 6vh;
}
.morew{
	font-size: 57px;
	margin: -77px auto;
}
.main2{
	align-items: center;
	line-height: 2;
	padding-top: 77px;
}
.es{
	display: flex;
	flex:1;
}
.cp{
	display: flex;
	flex: 1;
	line-height: 2;
	padding-top: 62px;
}

.tb{
	flex: 1;
}
.td{
	flex:2;
}
.tf{
	flex: 2;
}
.ew{
	flex: 1;
}
.seti{
	flex: 1;
}
.poit{
	flex: 1;
}
.cloud{
	flex: 1;
}
.po{
	flex: 1;
}
.sa{
	flex: 1;
}
.et{
	padding: 60px 12px;
}
.downt{
	display: flex;
	justify-content: center;
	margin: 12px auto;
}

.downimg img{
	width: 120px;
}
.downimg{
	display: flex;
	flex:1; 	 	
	justify-content: space-between;
	opacity: 0.3;
}
.fa{
	padding: 8px;
	border-radius: 80%;
}
.prod{
	flex: 1;
}
.serv{
	flex: 1;
}
.comp{
	flex: 1;
}
.doc{
	flex: 1;
}
.lp{
	display: flex;
	justify-content: flex-end;
	padding: 73px 12px;
}
.lastimg img{
	width: 108px;
}
.last{
	display: flex;
}
.y{
	margin: 125px auto;
	opacity: 0.4;
}
.inpro{
	font-size: 15px;
	font-weight: 505;
}
.icon{
	margin: 12px auto
}
.icon i{
	margin:0 5px;
}
.fa {
  width: 14px;
  text-align: center;
  text-decoration: none;
  margin: 5px auto;
  border-radius: 50%;
}
.fa-facebook{
	background:#3B5998;
	color: white; 
}
.fa-twitter{
	background:#55ACEE;
	color: white; 	
}
.fa-linkedin{
	background:#007bb5;
	color: white; 	
}
.q{
	font-family: 'Merriweather Sans', sans-serif;
}